bin/

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.jdt.core.prefs

*.log

*.lck

bidding/bidsandprobes.txt

bidding/bidsandprobes_*.0.txt

timeTest.csv
